<!--h2>Products</h2>

<div *ngFor="let product of products; index as productId">

  <h3>
    <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>

  <button (click)="share()">
    Share
  </button>

  <app-product-alerts
    [product]="product" 
    (notify)="onNotify()">
  </app-product-alerts>

</div-->

<!-- Editable table -->
  <h5 class="card-header">Selecct Starbuck Products</h5>
  <div class="card-body">
    <!-- Form -->
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
      <div class="form-row">
        <div class="form-group col-6">
          <label>Nombre</label>
           <select id="users" formControlName="users" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.users.errors }">
            <option value=""></option>
            <option *ngFor="let user of users; let i = index" [value]="users[i].value">
              {{users[i].text}}
            </option>
          </select>
          <div *ngIf="submitted && f.users.errors" class="alert alert-danger">
            <div *ngIf="f.users.errors.required">El nombre es requerido</div>
          </div>
        </div>
        <div class="form-group col-6">
          <label>Product</label>
          <select formControlName="products" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.products.errors }">
            <option value=""></option>
            <option *ngFor="let product of products; let i = index" [value]="products[i].value">
              {{products[i].text}}
            </option>
          </select>
          <div *ngIf="submitted && f.products.errors" class="alert alert-danger">
            <div *ngIf="f.products.errors.required">El producto es requerido</div>
          </div>
        </div>
        <div class="form-group col-6">
          <label>Comentarios</label>
         <textarea class="form-control" rows = "7" cols = "5" formControlName="ProductDescription" ></textarea>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary mr-1">Add</button>
        <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
      </div>
    </form>
    <!-- Form -->

    <!--div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <a class="text-success" (click)="add()">
          <mdb-icon fas icon="plus-circle" size="2x"></mdb-icon>
        </a>
      </span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">Nombre</th>
          <th class="text-center">Precio</th>
          <th class="text-center">Deslactosada</th>
          <th class="text-center">Creama Batida</th>
          <th class="text-center">Acción</th>
        </tr>
        <tr *ngFor="let product of products; index as productId">
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>
            <div class="custom-control custom-checkbox">
              <mdb-checkbox default="true"></mdb-checkbox>
            </div>
          </td>
          <td>
            <div class="custom-control custom-checkbox">
              <mdb-checkbox default="true"></mdb-checkbox>
            </div>
          </td>
          <td>
            <span class="table-add">
              <button type="button" mdbBtn color="primary" rounded="true" size="sm" class="my-0" (click)="remove(id)">Seleccionar</button>
            </span>
          </td>
        </tr>
      </table>
    </div-->
  </div>
<!-- Editable table -->